!!! 5
html(lang='ja-JP')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    block title
    meta(name='author', content=author.name)
    meta(name='rights-standard', content='pd')
    block metas
    block styles
  body
    block body

    block scripts
